$themeColor: #000000;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$tablet: $sm;
$desktop: $xl;

@mixin font($mobileFontSize,
    $tabletFontSize,
    $desktopFontSize,
    $mobileLineHeight: normal,
    $tabletLineHeight: normal,
    $desktopLineHeight: normal) {
    font-size: $mobileFontSize;
    line-height: $mobileLineHeight;

    @media (min-width: $tablet) {
        font-size: $tabletFontSize;
        line-height: $tabletLineHeight;
    }

    @media (min-width: $desktop) {
        font-size: $desktopFontSize;
        line-height: $desktopLineHeight;
    }
}

h1.title {
    @include font(16px, 18px, 18px, 25.6px, 27px, 27px);
    font-weight: 400;
   

    &.bold {
        font-weight: 700;
    }

    &.semi-bold {
        font-weight: 600;
    }

    &.medium {
        font-weight: 500;
    }
}

h2.title {
    @include font(34px, 52px, 52px, 40.8px, 62.4px, 62.4px);
    font-weight: 400;
   

    &.bold {
        font-weight: 700;
    }

    &.semi-bold {
        font-weight: 600;
    }

    &.medium {
        font-weight: 500;
    }
}

h1.heading,h2.heading
 {
    @include font(30px, 40px, 40px, 36px, 48px, 48px);
    font-weight: 400;
   

    &.bold {
        font-weight: 700;
    }

    &.semi-bold {
        font-weight: 600;
    }

    &.medium {
        font-weight: 500;
    }
}


h3.heading {
    @include font(28px, 34px, 34px, 33.6px, 40.8px, 40.8px);
    font-weight: 400;
   

    &.bold {
        font-weight: 700;
    }

    &.semi-bold {
        font-weight: 600;
    }

    &.medium {
        font-weight: 400;
    }
}


h4.heading {
    @include font(24px, 28px, 28px, 31.2px, 36.4px, 36.4px);
    font-weight: 400;
    

    &.bold {
        font-weight: 700;
    }

    &.semi-bold {
        font-weight: 600;
    }

    &.medium {
        font-weight: 700;
    }
}

h5.heading {
    @include font(20px, 24px, 24px, 28px, 33.6px, 33.6px);
    font-weight: 400;

    &.bold {
        font-weight: 700;
    }

    &.semi-bold {
        font-weight: 600;
    }

    &.medium {
        font-weight: 500;
    }
}


p.title {
    @include font(18px, 20px, 20px, 25.2px, 28px, 28px);
    font-weight: 400;
   

    &.bold {
        font-weight: 700;
    }

    &.medium {
        font-weight: 500;
    }

    &.light {
        font-weight: 300;
    }
}

p.subTitle {
    @include font(16px, 18px, 18px, 22.4px, 27px, 27px);
    font-weight: 400;

    &.bold {
        font-weight: 700;
    }

    &.medium {
        font-weight: 500;
    }

    &.light {
        font-weight: 300;
    }
}

p.paragraph {
    @include font(15px, 16px, 16px, 24px, 25.6px, 25.6px);
    font-weight: 400;

    

    &.bold {
        font-weight: 700;
    }

    &.medium {
        font-weight: 500;
    }

    &.light {
        font-weight: 300;
    }
}

p.caption {
    @include font(13px, 14px, 14px, 20.8px, 22.4px, 22.4px);
    font-weight: 400;

    &.bold {
        font-weight: 700;
    }

    &.medium {
        font-weight: 500;
    }

    &.light {
        font-weight: 300;
    }
}

p.labelLarge {
    @include font(14px, 14px, 14px, 19.6px, 19.6px, 19.6px);
    font-weight: 400;

    &.light {
        font-weight: 300;
    }
}

p.labelSmall {
    @include font(12px, 12px, 12px, 16.8px, 16.8px, 16.8px);
    font-weight: 400;

    &.light {
        font-weight: 300;
    }
}

p.extraSmallText {
    @include font(10px, 10px, 10px, 15px, 15px, 15px);
    font-weight: 400;

    &.bold {
        font-weight: 700;
    }

    &.medium {
        font-weight: 500;
    }

    &.light {
        font-weight: 300;
    }
}





